<div>
    <a href="#favorites" class="favButton">Favorites</a>
    <a href="#barn">Barn Animals</a>
</div>
<!-- <a href="#pig">Piggies</a> -->
<!-- <a href="#smallfurry">Small Furries</a> -->
<!-- </div> -->

<!-- <div class="navbar" ng-controller="navController"> -->
<div class="navButton"><a href="#home"> Home </a></div>

<div class="dropdown">
    <select id="naver" name="naver" ng-model="currentPage" ng-change="go(currentPage)">
        <option value="" disabled>Select your animal!</option>
        <option value="dogs">Dogs</option>
        <option value="cats">Cats</option>
        <option value="birds">Birds</option>
        <option value="reptiles">Reptiles</option>
        <option value="horses">Horses</option>
        <option value="pigs">Pigs</option>
        <option value="barn">Barnyard</option>
        <option value="smallfurry">Small & Furry</option>
    </select>
</div>

<div class="navButton"><a href="#favorites">Favorites</a></div>
<!-- </div> -->



<!-- <select>
    <option><a href="#barn" value="Barn">Barn</a></option>
    <option><a href="#pig" value="">Pig</a></option>
    <option><a href="#smallfurry" value="">Small Furry</a></option>
</select> -->
